._*
*~
.*.swp
*.pyc
.arch-ids
.arch-inventory
.cproject
.gitcommit.txt
.project
.settings
{arch}
config.cache
configure
config.guess
config.h.in
config.sub
Makefile.in
Makefile
mkinstalldirs
missing
install-sh
compile
depcomp
aclocal.m4
ltmain.sh
autom4te.cache
gtk-doc.make
cscope.out
Debug
stamp-h
stamp-h.in
typescript
m4/*.m4
ylwrap
